<view id="formValidationView">
    <dto-form name="validationSampleDtoForm" ng-model="vm.model">
        <label for="RequiredByAttributeMember">Required by attribute member</label>
        <input id="RequiredByAttributeMember" placeholder="..." name="requiredByAttributeMember" ng-model="vm.model.requiredByAttributeMember">
        <hr />
        <label for="RequiredByMetadataMember">Required by metadata member</label>
        <input id="RequiredByMetadataMember" placeholder="..." name="requiredByMetadataMember" ng-model="vm.model.requiredByMetadataMember">
        <hr />
        <label for="NotRequiredMember">Not required member</label>
        <input id="NotRequiredMember" placeholder="..." name="notRequiredMember" ng-model="vm.model.notRequiredMember">
        <hr />
        <label for="RequiredByDtoRulesMember">Required by dto rules member</label>
        <input id="RequiredByDtoRulesMember" placeholder="..." name="requiredByDtoRulesMember" ng-model="vm.model.requiredByDtoRulesMember">
        <hr />
        <md-button id="submitFirstPart" ng-disabled="!validationSampleDtoForm.$valid" ng-click="vm.submitFirstPart(validationSampleDtoForm,this)">Submit first part</md-button>
    </dto-form>
    <br />
    requiredByAttributeMemberIsValid >> <span id="requiredByAttributeMemberIsValid">{{validationSampleDtoForm.requiredByAttributeMember.$valid}}</span>
    <br />
    requiredByAttributeMemberErrors >> <span id="requiredByAttributeMemberErrors">{{validationSampleDtoForm.requiredByAttributeMember.$error}}</span>
    <br />
    requiredByMetadataMemberIsValid >> <span id="requiredByMetadataMemberIsValid">{{validationSampleDtoForm.requiredByMetadataMember.$valid}}</span>
    <br />
    requiredByMetadataMemberErrors >> <span id="requiredByMetadataMemberErrors">{{validationSampleDtoForm.requiredByMetadataMember.$error}}</span>
    <br />
    notRequiredIsValid >> <span id="notRequiredIsValid">{{validationSampleDtoForm.notRequiredMember.$valid}}</span>
    <br />
    notRequiredErrors >> <span id="notRequiredErrors">{{validationSampleDtoForm.notRequiredMember.$error}}</span>
    <br />
    requiredByDtoRules >> <span id="requiredByDtoRulesIsValid">{{validationSampleDtoForm.requiredByDtoRulesMember.$valid}}</span>
    <br />
    requiredByDtoRules >> <span id="requiredByDtoRulesErrors">{{validationSampleDtoForm.requiredByDtoRulesMember.$error}}</span>
    <br />
    firstPartIsValid >> <span id="firstPartIsValid">{{validationSampleDtoForm.$valid}}</span>
    <br />
</view>