<view id="radComboView">
    <div ng-cloak>
        <rad-combo-box id="test"
                   rad-data-source="vm.testModelsDataSource"
                   rad-text-field-name="stringProperty"
                   ng-model="vm.model.testModel.id">
            <item-template>
                {{::dataItem.stringProperty}}
            </item-template>
        </rad-combo-box>

        <div id="test2">{{vm.model.testModel.id}}</div>

        <div id="test3">{{vm.testModelsDataSource.current.stringProperty}}</div>

        <button id="setCurrent" ng-click="vm.setCurrent(this)">set current</button>
    </div>
</view>